
@model CoalShortagePortal.WebApp.Models.UserListVM
@{
    ViewData["Title"] = "Manage Users";
}

@if (Model != null && Model.Users != null)
{
    <div class="row justify-content-center align-items-center">
        <div class="col col-md-10 col-lg-8">
            <h2>@ViewData["Title"]</h2>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@user.UserId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <p>
                <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
            </p>
        </div>

    </div>
}


