@model CoalShortagePortal.WebApp.Models.GenResponseVM
@using CoalShortagePortal.Core
@using CoalShortagePortal.Core.Entities
@{
    ViewData["Title"] = "Coal Shortage and Critical coal Data";
    bool isNotAdmin = true;
    if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        isNotAdmin = false;
    }
}

@if (Model != null)
{
    <form class="form-inline">
        <div class="form-group mb-2">
            <label for="RecordDate" style="margin-right:8px"><b>Date</b></label>
            <input type="date" class="form-control" value="@Model.RecordDate.ToString("yyyy-MM-dd")" name="RecordDate">
            <span asp-validation-for="RecordDate" class="text-danger"></span>
        </div>
        <button style="margin-left:8px" type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="Index">
                <input type="hidden" class="form-control" value="@Model.RecordDate" name="RecordDate" />
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.CoalShortageResponses.Count > 0)
                {
                    <div class="text-center">
                        <h2>Generation loss due to coal shortage on @Model.RecordDate.ToString("dd-MMM-yyyy")</h2>
                    </div>
                    <table class="table table-bordered table-hover" id="coal_entry_table">
                        <thead class="coal_table_header">
                            <tr>
                                <td>S.No</td>
                                <td>Station</td>
                                <td>Location</td>
                                <td>Agency</td>
                                <td>Capacity</td>
                                <td>Previous Day Avg (MW)</td>
                                <td>Generation Loss (MW)</td>
                                <td>Remarks</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int genIter = 0; genIter < Model.CoalShortageResponses.Count; genIter++)
                            {
                                <tr @{if (Model.CoalShortageResponses[genIter].Id == 0) { <text> class="placeholder_response" </text>  } }>
                                    <td>
                                        @Model.CoalShortageResponses[genIter].SerialNum
                                    </td>
                                    <td>
                                        <input asp-for="CoalShortageResponses[genIter].DataDate" type="hidden" class="form-control" />
                                        <input asp-for="CoalShortageResponses[genIter].Id" type="hidden" class="form-control" />
                                        <textarea asp-for="CoalShortageResponses[genIter].Station" class="form-control" readonly="@isNotAdmin"></textarea>
                                        <span asp-validation-for="CoalShortageResponses[genIter].Station" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CoalShortageResponses[genIter].Location" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="CoalShortageResponses[genIter].Location" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <textarea asp-for="CoalShortageResponses[genIter].Agency" class="form-control" readonly="@isNotAdmin"></textarea>
                                        <span asp-validation-for="CoalShortageResponses[genIter].Agency" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CoalShortageResponses[genIter].Capacity" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="CoalShortageResponses[genIter].Capacity" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CoalShortageResponses[genIter].PrevDayAvgMw" class="form-control" />
                                        <span asp-validation-for="CoalShortageResponses[genIter].PrevDayAvgMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CoalShortageResponses[genIter].GenLossMw" class="form-control" />
                                        <span asp-validation-for="CoalShortageResponses[genIter].GenLossMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <textarea asp-for="CoalShortageResponses[genIter].Remarks" class="form-control"></textarea>
                                        <span asp-validation-for="CoalShortageResponses[genIter].Remarks" class="text-danger"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Model.OtherReasonsResponses.Count > 0)
                {
                    <hr />
                    <div class="text-center">
                        <h2>Generation loss due to other reasons on @Model.RecordDate.ToString("dd-MMM-yyyy")</h2>
                    </div>
                    <table class="table table-bordered table-hover" id="other_entry_table">
                        <thead class="other_table_header">
                            <tr>
                                <td>S.No</td>
                                <td>Station</td>
                                <td>Location</td>
                                <td>Agency</td>
                                <td>Capacity</td>
                                <td>Previous Day Avg (MW)</td>
                                <td>Generation Loss (MW)</td>
                                <td>Remarks</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int genIter = 0; genIter < Model.OtherReasonsResponses.Count; genIter++)
                            {
                                <tr @{if (Model.OtherReasonsResponses[genIter].Id == 0) { <text> class="placeholder_response" </text>  } }>
                                    <td>
                                        @Model.OtherReasonsResponses[genIter].SerialNum
                                    </td>
                                    <td>
                                        <input asp-for="OtherReasonsResponses[genIter].Id" type="hidden" class="form-control" />
                                        <input asp-for="OtherReasonsResponses[genIter].DataDate" type="hidden" class="form-control" />
                                        <textarea asp-for="OtherReasonsResponses[genIter].Station" class="form-control" readonly="@isNotAdmin"></textarea>
                                        <span asp-validation-for="OtherReasonsResponses[genIter].Station" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="OtherReasonsResponses[genIter].Location" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="OtherReasonsResponses[genIter].Location" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <textarea asp-for="OtherReasonsResponses[genIter].Agency" class="form-control" readonly="@isNotAdmin"></textarea>
                                        <span asp-validation-for="OtherReasonsResponses[genIter].Agency" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="OtherReasonsResponses[genIter].Capacity" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="OtherReasonsResponses[genIter].Capacity" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="OtherReasonsResponses[genIter].PrevDayAvgMw" class="form-control" />
                                        <span asp-validation-for="OtherReasonsResponses[genIter].PrevDayAvgMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="OtherReasonsResponses[genIter].GenLossMw" class="form-control" />
                                        <span asp-validation-for="OtherReasonsResponses[genIter].GenLossMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <textarea asp-for="OtherReasonsResponses[genIter].Remarks" class="form-control"></textarea>
                                        <span asp-validation-for="OtherReasonsResponses[genIter].Remarks" class="text-danger"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Model.CriticalCoalResponses.Count > 0)
                {
                    <hr />
                    <div class="text-center">
                        <h2>Critical Coal Stock on @Model.RecordDate.ToString("dd-MMM-yyyy")</h2>
                    </div>
                    <table class="table table-bordered table-hover" id="critical_entry_table">
                        <thead class="critical_table_header">
                            <tr>
                                <td>S.No</td>
                                <td>Station</td>
                                <td>Owner</td>
                                <td>Capacity</td>
                                <td>Present Generation (MW)</td>
                                <td>Loss of Generation due to Coal Shortage (MW)</td>
                                <td>Present Coal Stock (days)</td>
                                <td>Remarks</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int genIter = 0; genIter < Model.CriticalCoalResponses.Count; genIter++)
                            {
                                <tr @{if (Model.CriticalCoalResponses[genIter].Id == 0) { <text> class="placeholder_response" </text>  } }>
                                    <td>
                                        @Model.CriticalCoalResponses[genIter].SerialNum
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].Id" type="hidden" class="form-control" />
                                        <input asp-for="CriticalCoalResponses[genIter].DataDate" type="hidden" class="form-control" />
                                        <textarea asp-for="CriticalCoalResponses[genIter].Station" class="form-control" readonly="@isNotAdmin"></textarea>
                                        <span asp-validation-for="CriticalCoalResponses[genIter].Station" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].Owner" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="CriticalCoalResponses[genIter].Owner" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].Capacity" class="form-control" readonly="@isNotAdmin" />
                                        <span asp-validation-for="CriticalCoalResponses[genIter].Capacity" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].PresentGenMw" class="form-control" />
                                        <span asp-validation-for="CriticalCoalResponses[genIter].PresentGenMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].CoalGenLossMw" class="form-control" />
                                        <span asp-validation-for="CriticalCoalResponses[genIter].CoalGenLossMw" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="CriticalCoalResponses[genIter].PresentCoalStockDays" class="form-control" />
                                        <span asp-validation-for="CriticalCoalResponses[genIter].PresentCoalStockDays" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <textarea asp-for="CriticalCoalResponses[genIter].Remarks" class="form-control"></textarea>
                                        <span asp-validation-for="CriticalCoalResponses[genIter].Remarks" class="text-danger"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Model.CoalShortageResponses.Count > 0 || Model.OtherReasonsResponses.Count > 0 || Model.CriticalCoalResponses.Count > 0)
                {
                    <button type="submit" class="btn btn-success">Submit</button>
                }
            </form>
        </div>
    </div>

}

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="~/js/coal_data_entry.js"></script>
    <style>
        table tbody tr.placeholder_response {
            background-color: #0f03;
        }

        thead.coal_table_header {
            background-color: #ed553b;
        }

        thead.other_table_header {
            background-color: #f6d55c;
        }

        thead.critical_table_header {
            background-color: #3caea3;
        }

        textarea.form-control {
            height: 3em;
        }
    </style>
}