
@model CoalShortagePortal.WebApp.Models.GenCoalShortageListVM
@{
    ViewData["Title"] = "Manage Other Reason Generators";
    string getGenClass(DateTime startDate, DateTime endDate)
    {
        if (endDate.Date < DateTime.Now.Date)
        {
            return "stale_gen_row";
        }
        else if (startDate.Date > DateTime.Now.Date)
        {
            return "future_gen_row";
        }
        return "";
    }
}

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Gens != null)
{
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>S.No</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Station</th>
                <th>Location</th>
                <th>Agency</th>
                <th>Capacity</th>
                <th>Region</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gen in Model.Gens)
            {
                <tr class="@getGenClass(gen.StartDate, gen.EndDate)">
                    <td>@gen.SerialNum</td>
                    <td>@gen.StartDate.ToString("dd-MMM-yyyy")</td>
                    <td>@gen.EndDate.ToString("dd-MMM-yyyy")</td>
                    <td>@gen.Name</td>
                    <td>@gen.Location</td>
                    <td>@gen.Agency</td>
                    <td>@gen.Capacity</td>
                    <td>@gen.Region</td>
                    <td>@gen.UserName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@gen.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@gen.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <p>
        <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
    </p>
    <br />
    <div class="card bg-light">
        <div class="card-body">
            <h4>Notes</h4>
            <ul>
                <li>If a row is red, it means the generator is expired based on the "End Date" field</li>
                <li>If a row is purple, it means the generator is not yet started based on the "Start Date" field</li>
            </ul>
        </div>
    </div>
}

@section Scripts{
    <link rel="stylesheet" href="@Url.Content("~/css/stale_gens.css")">
}